db/
tmp/
nbproject/
eclipse/
src/modules/
src/logs/
src/public/stylesheets/press/
src/public/javascripts/press/
apps/irman/modules/
apps/logman/modules/
apps/odak/modules/
apps/odak/logs/
apps/irman/logs/
apps/logman/modules/seyyar
apps/irman/modules/seyyar
apps/odak/modules/seyyar
apps/odak/server.pid
apps/irman/server.pid
apps/logman/server.pid
lib/
workspace/
precompiled/
test-result/
index/
.classpath
.project
.settings/
.metadata/
messages-1.1/
*.pyc
